<h1>Artist Name: <%= @artist.name %> </h1> 

<h4> Artist Songs: </h4>
<% @songs.each do |song| %> 
<ul>
    <li><a href="/songs/<%= song.slug%>"><%= song.name %></a></li>
</ul>
<% end %> 


<% @genres.each do |t| %> 
<h4> Song Genres: </h4>
    <li> <a href="/genres/<%= t.slug %>"><%= t.name %></a></li>
<% end %> 