<h1>Create a New Song!</h1>

<form method="POST" action="/songs">
<label>Song Name:</label>

<br>


<input type="text" name="song[name]" id="Name">


<h3>Existing Artists</h3>
  <% @artists.each do |artist| %>
    <input type="checkbox" name="song[artist_id][]" id="<%= artist.id %>" value="<%= artist.id %>"><%= artist.name %><br>
  <% end %>
  <br>
  
  <h3>New Artist</h3>
  <label>Artist Name:</label>
  <br>
  <input type="text" name="artist[name]" id="Artist Name"></input>
  <br><br>

<h3>Existing Genres</h3>
  <% @genres.each do |g| %>
    <input type="checkbox" name="song[genre_ids][]" id="<%= g.name %>" value="<%= g.id %>"><%= g.name %><br>
  <% end %>
  <br>
  
  <h3>New Genre</h3>
  <label>Genre Name:</label>
  <br>
  <input type="text" name="genre[name]" id="genre_name"></input>
  <br><br>

  <input type="submit" value="Create Song">
</form>